/*базовыем стили*/
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    /*inherit-наследовать от родителя*/
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Убрать мазкеры у списка*/
ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

/*Стили проект*/
.container {
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
}

.hero {
    background: url(../img/изображение_viber_2024-04-20_21-59-41-770.jpg) no-repeat center/cover;
    min-height: 100vh;
    display: flex;
}

.hero_content {
    display: flex;
    /* CМЕНА НАПРАВЛЕНИЕ ГЛАВНОЙ  ОСИ*/
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: aquamarine;
}

.list_nav {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}

.nav_link {
    font-family: "Popins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffff;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline 2px solid rgba(255, 255, 255, 0.5);
    text-underline-offset: 6px;
}

.hero_main {
    background-color: rgb(147, 147, 23);
    flex: 1;
    display: flex;
    flex-direction: column;
}